// Centralni CSS


// --- Importujeme Bootstrap + jeho responsivni cast ---

@import '../bootstrap/less/bootstrap';
@import '../bootstrap/less/responsive';


// --- Prenastavime promenne Bootstrapu ---

// Barvy
@linkColor: 	#ff6600;
@headColor: 	#00A287;


// --- Nase nastaveni barev ---

h1, h2, h3 {
	color: @headColor;
}
